[package]
name = "components"
version = "0.1.0"
edition = "2024"

[dependencies]
yew = { version = "0.21", features = ["csr"] }
wasm-bindgen = "0.2"
web-sys = { version = "0.3", features = ["HtmlTextAreaElement", "HtmlInputElement", "KeyboardEvent", "ScrollBehavior", "ScrollIntoViewOptions"] }
gloo = "0.11"
